<div>
    <app-header></app-header>
    <router-outlet></router-outlet>

</div>

<form>
  <input type="text" name="title" placeholder="title...">
  <br>
  <br>
  <input type="text" name="description" placeholder="description...">
  <br>
  <br>
  <input type="date" name="start_date" placeholder="start date...">
  <br>
  <br>
  <input type="file" name="image" placeholder="image..." accept="image/*">

  <br>
  <br>
  <button>ADD COUPON</button>
</form>


<!-- <button (click)="openAboutScreen()">About us</button> -->
<!-- <button [routerLink]="['/about']" routerLinkActive="router-link-active" >About us</button> -->
